.blockchain_section {
    width: 90%;
    margin: 0 auto;
    padding: 12.5vh 0;
    .icon_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(115, 115, 115);
        width: fit-content;
        padding: 0.5rem;
        margin: 0 auto;
        border-radius: 14px;
        .icon {
            font-size: 28px;
            color: var(--green);
        }
    }
    .overHeading {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: var(--carbon);
        letter-spacing: -0.04em;
        text-align: center;
        margin-top: 0.75rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 4.25rem;
        font-weight: 600;
        line-height: 1.175;
        letter-spacing: -0.025em;
        text-align: center;
        background: -webkit-linear-gradient(0deg, var(--white) 40%, var(--black));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        span {
            background: -webkit-linear-gradient(75deg, var(--lime), var(--white));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    main {
        width: 70%;
        margin: 7.5vh auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7vh;
        .top_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            //gap: 2.5vw;
            width: 87.5%;
            .card {
                min-width: 550px;
                min-height: 325px;
                border-radius: 24px;
                border: 1px solid rgba(200, 200, 200, 0.4);
                display: flex;
                align-items: flex-end;
                padding: 1rem 0.75rem;
                justify-content: space-between;
                background-color: var(--white);
                backdrop-filter: blur(5px);
                position: relative;
                transition: background-color .225s ease, color .225s ease;
                .currency_icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(-50%, 25%);
                    font-size: 2.25rem;
                    color: inherit;
                    transition: .225s ease;
                }
                .logo {
                    position: absolute;
                    left: 12.5%;
                    top: 10%;
                    transform: translate(-50%, -50%);
                    font-family: "Montserrat", sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: -0.04em;
                    line-height: 1;
                }
                .slogan {
                    font-family: "Montserrat", sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.1;
                    letter-spacing: -0.04em;
                    width: 40%;
                }
                .visa_icon {
                    position: absolute;
                    right: 1rem;
                    bottom: -0.25rem;
                    font-size: 4.25rem;
                    color: inherit;
                }
                .logo_icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 7rem;
                    color: inherit;
                    transition: .225s ease;
                }
            }
            aside {
                display: flex;
                flex-direction: column;
                .number {
                    color: rgb(125, 125, 125);
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                }
                .label {
                    font-family: "Montserrat", sans-serif;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: -0.035em;
                    margin: 1.5rem 0;
                }
                .currencies_wrapper {
                    display: grid;
                    gap: 1.25rem;
                    grid-template-columns: repeat(4, 1fr);
                    // border: 1px solid red;
                    .item {
                        height: 4rem;
                        width: 4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        aspect-ratio: 1 / 1;
                        box-shadow: none;
                        cursor: pointer;
                        transition-delay: 0.025s;
                        transition: 0.25s ease;
                        &:hover {
                            transform: translateY(-2px);
                            .icon {
                                transform: scale(1.06);
                            }
                        }
                        &.active {
                            box-shadow: 0 0 0 2px var(--green);
                        }
                        .icon {
                            color: #FFF;
                            font-size: 2.75rem;
                            will-change: transform;
                            transition: 0.25s ease;
                        }
                    }
                }
            }
        }
        .bottom_wrapper {
            width: 87.5%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            aside {
                display: flex;
                flex-direction: column;
                gap: 16px;
                .number {
                    color: rgb(125, 125, 125);
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                }
                .label {
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: -0.025em;
                    margin: 0.75rem 0 1.25rem;
                }
                .reason {
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--carbon);
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 6px;
                    line-height: 1;
                    width: fit-content;
                    will-change: transform;
                    cursor: pointer;
                    transition-delay: 0.025s;
                    transition: .225s ease;
                    .icon {
                        font-size: 20px;
                        color: var(--lime);
                        transition-delay: 0.025s;
                        transition: .225s ease;
                    }
                    &:hover {
                        color: var(--white);
                        transform: translateX(2.5px);
                        .icon {
                            transform: translateX(-2.5px);
                        }
                    }
                }
            }
            .card {
                width: 550px;
                height: 325px;
                border-radius: 24px;
                border: 1px solid rgb(50, 50, 50);
                display: flex;
                align-items: flex-end;
                padding: 1rem 1.25rem;
                justify-content: flex-end;
                background-color: var(--black);
                background-color: rgb(18, 18, 18);
                backdrop-filter: blur(5px);
                position: relative;
                background: radial-gradient(circle, rgba(50, 255, 50, 0.125) 0%, rgba(18, 18, 18, 1), rgba(11, 11, 11, 1) 100%);
                .logo_icon {
                    color: var(--carbon);
                    font-size: 10rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .slogan {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 4px;
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--carbon);
                    letter-spacing: -0.04em;
                    .icon {
                        font-size: 22px;
                        color: var(--lime);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    .blockchain_section {
        width: 100%;
        main {
            width: 77.5%;
        }
    }
}