.faq_section {
    width: 90%;
    margin: 0 auto;
    padding: 17.5vh 0 15vh;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    h2 {
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.015em;
        background: -webkit-linear-gradient(272deg, var(--white) 40%, rgb(11, 11, 11));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: sticky;
        top: 10vh;
        align-self: flex-start;
        width: 35%;
    }
    aside {
        width: 60%;
        display: flex;
        flex-direction: column;
        .item {
            display: grid;
            grid-template-rows: auto 0fr;
            background: var(--black);
            border: 1px solid rgb(75, 75, 75);
            border-radius: 16px;
            margin-bottom: 10px;
            //padding-bottom: 1rem;
            transition: .3s ease;
            &:hover {
                background-color: rgb(17, 17, 17);
                .question {
                    color: var(--white);
                }
            }
            .question {
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.005em;
                line-height: 1;
                color: var(--carbon);
                border-radius: 16px;
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                transition: color 0.4s ease, background-color 0.4s ease;
                padding: 18px 18px 18px 22px;
                .icon {
                    color: var(--white);
                    font-size: 26px;
                    border-radius: 50px;
                    transition: 0.3s ease;
                }
            }
            .answer {
                text-align: left;
                display: grid;
                grid-template-rows: 0fr;
                overflow: hidden;
                padding: 0;
                transition: grid-template-rows 0.35s cubic-bezier(0.4, 0, 0.2, 1), padding 0.25s ease;
                p {
                    font-family: "Montserrat", sans-serif;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 1.5;
                    text-align: justify;
                    padding: 0 5% 0 22px;
                    color: rgb(75, 75, 75);
                }
            }
            &.active {
                grid-template-rows: auto 1fr;
                background: var(--white);
                .question {
                    transition: .3s ease;
                    color: var(--black);
                    .icon {
                        background-color: var(--black);
                        color: var(--white);
                    }
                }
                .answer {
                    grid-template-rows: 1fr;
                    padding: 16px 0 20px;
                    p {
                        //padding: 0.25rem 5% 0 22px;
                    }
                }
            }
            &:active,
            &:focus {
                border-color: var(--green);
                transition: 0s ease;
            }
        }
    }
}