.ourServices_section {
    width: 90%;
    margin: 0 auto;
    padding: 15vh 0 2.5vh;
    h2,
    h3 {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.025em;
        color: var(--green);
        width: fit-content;
        margin: 0 auto;
    }
    h3 {
        background: -webkit-linear-gradient(0deg, var(--white) 0, rgb(32, 32, 32));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .cards_wrapper {
        margin: 3.25rem auto 0;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2%;
        .card {
            position: relative;
            background-color: rgb(15, 15, 15);
            padding: 2.25rem 2rem;
            width: 49%;
            margin-bottom: 1.5%;
            border: 1px solid rgb(45, 45, 45);
            border-radius: 16px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            gap: 4px;
            box-shadow: 0px 8px 12px 0px rgba(228, 228, 228, 0.025);
            will-change: transform, background-image;
            background-image: radial-gradient(circle closest-corner at 50% 100%, var(--black-card-glow), var(--card-glow-2));
            background-repeat: no-repeat;
            transition-property: --black-card-glow, --card-glow-2, background-color, transform, border-color, box-shadow;
            transition-delay: 0.025s;
            transition-duration: .325s;
            transition-timing-function: ease;
            &:hover {
                --black-card-glow: var(--card-glow-1);
                --card-glow-2: var(--card-glow-2-hover);
                background-color: rgb(18, 18, 18);
                border-color: rgb(100, 100, 100);
                transform: translateY(-2px);
                box-shadow: 0px 8px 12px 0px rgba(228, 228, 228, 0.05);
                .icon_wrapper {
                    .icon_background {
                        background-color: transparent;
                    }
                }
                .description {
                    color: var(--white);
                }
            }
            .icon_wrapper {
                position: relative;
                .icon {
                    font-size: 2.75rem;
                    margin-bottom: 1.25rem;
                    color: var(--green);
                }
                .icon_background {
                    position: absolute;
                    top: 55%;
                    left: 70%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                    background-color: rgb(25, 25, 25);
                    height: 3rem;
                    width: 3rem;
                    border-radius: 18px;
                    transition-delay: 0.025s;
                    transition: .325s ease;
                }
            }
            .heading {
                font-size: 2rem;
                color: var(--white);
            }
            .description {
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                color: var(--carbon);
                transition-delay: 0.025s;
                transition: .325s ease;
            }
        }
    }
}